body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #3498DB, #5D8CAE);
  color: #fff;
  overflow-x: hidden;
}

header {
  background: #2C3E50;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2em;
  color: #ECF0F1;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

main:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #2C3E50;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 2px solid #3498DB;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input:hover,
input:focus {
  border-color: #2980B9;
}

button {
  padding: 10px 16px;
  cursor: pointer;
  background: #2C3E50; /* Darker color */
  color: #ECF0F1; /* Lighter text color */
  border: none;
  border-radius: 4px;
  transition: background 0.3s ease;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background: #d7cfff; 
  color: black;
}

#result {
  margin-top: 20px;
  color: #2C3E50;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  overflow-x: auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #2C3E50;
  color: #ECF0F1;
}

tr:hover {
  background-color: #ECF0F1;
}

@media screen and (max-width: 600px) {
  main {
    padding: 10px;
  }
  .loading{

  margin: 20px auto; /* Center the loader horizontally */
    margin-left: 0;
}

  input {
    width: calc(100% - 20px);
  }

  table {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    overflow-x: auto;  /* Add overflow-x for horizontal scroll */
    display: block;
  }

  table a {
    color: #3498DB;
    text-decoration: none;
    font-weight: bold;
  }

  table a:hover {
    text-decoration: underline;
  }
}
.loading {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498DB; /* Change to your button color */
    border-radius: 50%;
    width: 40px;
    height: 40px;
  margin-top: 20px;
    animation: spin 1s linear infinite;
    margin-left: 43%; /* Center the loader horizontally */
    transform: translateX(-50%); /* Adjust to center the loader */
    display: none; /* Initially hidden */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
