body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #3498DB, #5D8CAE);
  color: #fff;
  overflow-x: hidden;
}

header {
  background: #2C3E50;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2em;
  color: #ECF0F1;
}

main {
  max-width: 800px;
  margin: 20px auto 60px;
  padding: 20px;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

main:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #2C3E50;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 2px solid #3498DB;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input:hover,
input:focus {
  border-color: #2980B9;
}

#username {
  width: 100%;
}

button {
  padding: 10px 16px;
  font-weight: bold;
  font-size: 1.3em;
  cursor: pointer;
  background: #2C3E50;
  color: #ECF0F1;
  border: none;
  border-radius: 4px;
  transition: background 0.3s ease;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background: #d7cfff;
  color: black;
}

#result {
  margin-top: 20px;
  color: #2C3E50;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  overflow-x: auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #2C3E50;
  color: #ECF0F1;
}

tr:hover {
  background-color: #ECF0F1;
}

@media screen and (max-width: 600px) {
  main {
    padding: 10px;
  }

  .loading {
    margin: 20px auto;
    margin-left: 0;
  }

  input {
    width: calc(100% - 20px);
  }

  table {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    overflow-x: auto;
    display: block;
  }

  table a {
    color: #3498DB;
    text-decoration: none;
    font-weight: bold;
  }

  table a:hover {
    text-decoration: underline;
  }
}

.loading {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498DB;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  animation: spin 1s linear infinite;
  margin-left: 43%;
  transform: translateX(-50%);
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  background: #2C3E50;
  color: #ECF0F1;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  font-weight: bold;
  font-size: 1.3em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer:hover {
  background: #d5d1ea;
  color: black;
}

.social-links {
  margin-top: 8px;
}

.social-links a {
  color: #ECF0F1;
  margin: 0 10px;
  text-decoration: none;
}

social-links a:hover {
  color: black;
  text-decoration: underline;
}





/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;

}
.col{
   background-color:blue;
}
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}

/* Search Form */
.search form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.search input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search button {
    background-color: #f2f2f2;
    color: #333;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.search button i {
    font-size: 16px;
}

/* Recent Posts */
.recent {
    margin-top: 30px;
}

.recent h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.post-list {
    display: flex;
    flex-direction: column;
  }

  .post-item {
    width: 20%;
    display: flex;
    /* Added */
    align-items: center;
    /* Added */
    background-color: black;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
  }

  .post-thumbnail img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    /* Added */
  }

  .post-item h3:hover {
    color: blue;
  }

  .post-title {
    font-size: 16px;
    margin-top: 20px;
    /* Changed */

  }

  .post-date {
    font-size: 14px;
    color: #888;
  }

  .post-date i {
    margin-right: 10px;
  }
